@use './components' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

img {
	height: auto;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

button {
	border: none;
	cursor: pointer;
}

textarea {
	resize: vertical;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-size: 1.6rem;
	// font-family: sans-serif;
}

.nav-mobile {
	position: fixed;
	z-index: 10000;
	ul {
		padding-top: 50px;
		position: absolute;
		height: 100vh;
		width: 300px;
		left: -350px;
		list-style: none;
		background-color: rgb(255, 255, 255);
		transition: transform 0.3s;
		a {
			display: block;
			padding: 10px 30px;
			font-size: 2.6rem;
			margin-bottom: 1em;
			color: #333;
			text-decoration: none;
			&:hover {
				font-weight: bold;
			}
		}
	}
}

.burger {
	position: absolute;
	top: 15px;
	left: 12px;
	top: 0;
	left: 0;
	padding: 10px 20px;
	font-size: 36px;
	background: none;
	border: none;
	cursor: pointer;
	color: #fff;
	transition: transform 0.3s;
}

.active {
	transform: translateX(350px);
}

.hide {
	display: none;
}

.nav-desktop {
	display: none;
}

//header

.header {
	top: 0;
	position: relative;
	height: 100vh;
	overflow: hidden;
	background-image: url('/dist/img/hero-bg.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	z-index: 5;

	&__shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		z-index: -1;
	}

	&__box {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		&-text {
			color: #fff;
			text-align: center;
			&__subtitle {
				font-size: 2.4rem;
				&--one {
					font-size: 3rem;
					text-transform: uppercase;
					font-weight: bold;
					margin-bottom: 0.3em;
				}

				&--two {
					font-size: 3.5rem;
					text-transform: uppercase;
					font-weight: bold;
					margin-bottom: 0.3em;
				}
			}

			&__title {
				font-size: 5rem;
				text-transform: uppercase;
				font-weight: bold;
				margin-bottom: 0.3em;
			}

			&__a {
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				padding: 1em 1em;
				background: none;
				border: 1px solid #fff;
				color: #fff;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 1.6rem;
				margin-top: 8em;
				border-radius: 8px;
				transition: color, background, border 0.3s;
			}

			&__a:hover {
				color: #000;
				background: #fff;
				border: 1px solid #000;
			}
		}
	}
}

//main

//choose

.choose {
	background-image: url('/dist/img/us-bg.jpg');
	padding-top: 120px;
	padding-bottom: 120px;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

	&__title {
		position: relative;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		font-size: 4rem;

		&-line {
			position: absolute;
			top: 4;
			bottom: -1;
			left: 45%;
			transform: translateX(-50%);
			width: 20%;
			background-color: #a01111;
			height: 2px;
		}
	}

	&__box {
		margin-top: 3em;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		&-item {
			text-align: center;
			padding: 2em;
			width: 30rem;
			color: #fff;
			text-transform: uppercase;

			&__title {
				margin-top: 1em;
				margin-bottom: 0.3em;
			}
		}
	}
}

.about {
	background-image: url('/dist/img/healthy-bg.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: #fff;
		padding: 13em 2em;

		&-title {
			text-transform: uppercase;
			font-size: 4rem;
			margin-bottom: 1em;
			text-align: center;
		}

		&-p {
			text-align: center;
			font-size: 2rem;
			margin-bottom: 1em;
		}

		&-a {
			margin-top: 2em;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			padding: 1em 1em;
			background: none;
			border: 1px solid #fff;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 1.6rem;
			color: #fff;
			border-radius: 8px;
			transition: color, background-color, border 0.3s;

			&:hover {
				color: #000;
				background: #fff;
				border: 1px solid #000;
			}
		}
	}
}

.trainers {
	background-image: url('/dist/img/trainer-bg.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	padding: 2em;
	&__title {
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		font-size: 4rem;
		margin-bottom: 2em;
	}

	&__boxes {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}

	&__box {
		// margin-left: 8em;
		// margin-left: 2em;
		margin-bottom: 3em;

		&-name {
			text-align: center;
			color: #fff;
			text-transform: uppercase;
			font-size: 2.4rem;
			margin-bottom: 1em;
		}

		&-img {
			// width: 35rem;
			// height: 60%;
			width: 30rem;
			height: 30rem;
			border-radius: 8px;
			overflow: hidden;
			margin-bottom: 1em;
			position: relative;
		}

		&-icons {
			position: absolute;
			background-color: #fff;
			width: 200px;
			padding: 12px 45px;
			margin-top: -40px;
			border-radius: 50px;
			z-index: 100;
			display: flex;
			justify-content: space-between;
			align-items: center;
			cursor: pointer;
		}

		&-icon {
			transition: scale 0.3s;
		}

		&-icon:hover {
			scale: 1.2;
		}
	}
}

.contact {
	position: relative;
	background-color: #27223f;
	padding: 2em;

	&__box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		&-left {
			display: flex;
			justify-content: center;
			align-items: center;
			&-img {
				width: 100%;
				height: 40%;
			}
		}

		&-right {
			display: flex;
			flex-direction: column;
			margin-top: 2em;
			width: 100%;

			&-title {
				text-align: center;
				color: #fff;
				font-size: 4rem;
				text-transform: uppercase;
				margin-bottom: 1em;
			}

			form {
				width: 100%;
				display: flex;
				flex-direction: column;
			}

			&-input {
				width: 100%;
				padding: 0.5em;
				margin-top: 0.5em;
				margin-bottom: 1em;
			}

			&-textarea {
				width: 100%;
				padding: 0.5em;
				margin-top: 0.5em;
				margin-bottom: 1em;
			}

			&-btn {
				display: flex;
				align-self: center;
				text-align: center;
				text-transform: uppercase;
				color: #fff;
				background-color: red;
				height: 3rem;
				font-size: 2rem;
				padding: 5px 65px;
				border-radius: 8px;
				transition: background-color 0.3s;
			}

			&-btn:hover {
				background-color: #a01111;
			}
		}
	}
}

.contact-info {
	background-color: #252233;
	display: flex;
	justify-content: center;
	align-items: center;
	&__box {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		&--item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			color: #fff;
			padding: 3em;
			// margin-left: 8em;

			&-img {
				margin-bottom: 0.5em;
				text-align: center;
				&--img {
					width: 3rem;
				}
			}
		}
	}
}

.footer {
	width: 100%;
	background-color: #252233;
	&__box {
		padding: 2em;
		display: flex;
		justify-content: space-between;
		align-items: center;

		color: #fff;
		// padding: 2em;
		&-p {
			font-size: 1.5rem;
		}

		&-icon {
			padding: 0.3em;
			transition: scale 0.3s;
			cursor: pointer;
		}
		&-icon:hover {
			scale: 1.2;
		}
	}
}

@media (min-width: 500px) {
	.footer {
		&__box {
			&-p {
				font-size: 1.7rem;
			}

			&-icon {
				padding: 0.5em;
			}
		}
	}
}

@media (min-width: 768px) {
	.trainers {
		&__box {
			margin-left: 2em;
		}
	}

	.contact {
		&__box {
			flex-direction: row;
			&-left {
				margin-right: 2em;
				width: 60%;
				height: auto;
			}

			&-right {
				width: 60%;

				&-btn {
					align-self: flex-end;
				}
			}
		}
	}

	.footer {
		&__box {
			&-p {
				font-size: 2rem;
			}

			&-icon {
				padding: 1em;
			}
		}
	}
}

@media (min-width: 1024px) {
	nav {
		display: none;
	}

	.nav-desktop {
		display: block;
		// width: 100%;

		&__box {
			position: fixed;
			top: 0;
			z-index: 100;
			width: 100%;
			display: flex;
			justify-content: space-around;
			align-items: center;
			padding: 2em 2em;
			background-color: rgba(0, 0, 0, 0.4);

			&-left {
				text-transform: uppercase;
				font-size: 2.4rem;
				&--logo {
					color: #fff;
				}
			}

			&-right {
				display: flex;
				flex-direction: row;
				text-transform: uppercase;
				font-size: 2.4rem;
				a {
					padding: 0.5em;
					color: #fff;
					transition: scale 0.3s;
				}

				a:hover {
					scale: 1.1;
				}
			}
		}
	}

	.contact {
		&__box {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row;

			&-left {
				margin-right: 6em;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 80%;
				&-img {
					width: 100%;
					height: 100%;
				}
			}

			&-right {
				&-input {
					width: 100%;
					height: 4rem;
					padding: 0.5em;
					margin-top: 0.5em;
					margin-bottom: 1em;
				}
			}
		}
	}
}
